

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #EEEEFF; /* using E9C46A from the palette */
    display: flex;
    
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.wrap1,.wrap2{
display: flex;
width: 100%;
align-items: center;
flex-direction: column;
}
.container {
    width: 350px;
    height: 45%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(147, 29, 202, 0.577);
    margin-top: 60px;
}
#visible{
    display: flex;
}
h1 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.66);
    margin: 10px 0;
    align-items: center;
}

input,
select {
    width: 95%;
    height: 40px;
    border-radius: 3px;
    border: .5px solid rgba(147, 29, 202, 0.271);
    margin: 5px 0;
    font-weight: bold;
    font-size: large;
    background: transparent;
    color:rgba(0, 0, 0, 0.66);
}
select {
    width: 95%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #9e9e9e;
    margin: 5px 0;
    color:white;
    background:  rgba(147, 29, 202, 0.577);
    
    
}
input::placeholder{
    padding-left: 10px;
    color: #bababa;
}
input::active{
    padding-left: 10px;
    color: #fff;
    background-color: #292e30;
}

#fromAmount,
#fromCurrency {
    display: inline-block;
}

button {
    width: 90%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background: #fff; /* using 2A9D8F from the palette */
    color:#0D1317 ;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #0D1317; /* using F4A261 from the palette */
    color: white; /* using 264653 from the palette */
    border: 1px solid #fff; /* using 264653 from the palette */
}

